@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    li {
        @apply p-4
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #D92323;
    font-family: "p5older";
}

@font-face {
    font-family: p5menu;
    src: url(/public/fonts/p5menu.ttf);
}
.p5menu {
    font-family: p5menu;
}

@font-face {
    font-family: p5regular;
    src: url(/public/fonts/p5regular.otf);
}
.p5regular {
    font-family: p5regular;
}

@font-face {
    font-family: p5older;
    src: url(/public/fonts/p5older.ttf);
}
.p5older {
    font-family: p5older;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #730000,
        #000000
    )!important;
}